@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-[40px] font-extrabold leading-[40px] md:text-[56px] md:leading-[56px] xl:text-[80px] xl:leading-[88px];
}

h2 {
  @apply text-[32px] font-extrabold leading-[40px] xl:text-[56px] xl:leading-[64px];
}

h3 {
  @apply text-[15px] font-extrabold leading-[20px] xl:text-[20px] xl:leading-[32px];
}

p {
  @apply text-[15px] leading-[25px] xl:text-[18px] xl:leading-[32px];
}

a {
  @apply text-[15px] xl:text-[16px];
}

.previous,
.next {
  @apply stroke-[#F94F4F] transition-all;
}
.previous:hover,
.next:hover {
  @apply stroke-[#FF9393];
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.image-container {
  @apply hover:cursor-grab active:cursor-grabbing;
  position: relative;
}

.carouselImage {
  @apply pointer-events-none w-full object-cover object-right md:h-[472px] xl:h-full;
}

.animationElement {
  @apply transition-transform;
}

.animationElement.animateTransition {
  @apply translate-y-[0px] scale-105 transform;
}

.animationElement {
  @apply duration-500;
}

.image-container::after {
  @apply h-[200px] w-full;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  pointer-events: none;
}

#mobileNav {
  @apply h-[18px] w-[24px];
  background-image: url('../assets/mobile/icon-hamburger.svg');
}

#mask {
  @apply pointer-events-none;
}

#mobileNav.open {
  @apply h-[20px] w-[20px];
  background-image: url('../assets/mobile/icon-cross.svg');
}

body:has(#mobileNav.open) #mobileMenu {
  @apply translate-x-0;
}

#mobileMenu {
  transition: all 0.5s ease 0s;
  @apply flex translate-x-[150%] md:hidden;
}

@media (max-width: 768px) {
  body:has(#mobileMenu.open) #mobileMenuList {
    @apply pointer-events-auto;
  }

  body:has(#mobileNav.open) #mask {
    @apply pointer-events-auto;
  }

  body:has(#mobileNav.open) {
    @apply flex min-h-screen overflow-hidden;
  }
}
