@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-[56px] font-extrabold leading-[56px] xl:text-[80px] xl:leading-[88px];
}

h2 {
  @apply text-[32px] font-extrabold leading-[40px] xl:text-[56px] xl:leading-[64px];
}

h3 {
  @apply text-[20px] font-extrabold leading-[32px];
}

p {
  @apply text-[15px] leading-[25px] xl:text-[18px] xl:leading-[32px];
}

a {
  @apply text-[15px] xl:text-[16px];
}

.previous,
.next {
  @apply stroke-[#F94F4F] transition-all;
}
.previous:hover,
.next:hover {
  @apply stroke-[#FF9393];
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.image-container {
  @apply hover:cursor-grab active:cursor-grabbing;
  position: relative;
}

.carouselImage {
  @apply pointer-events-none xl:h-full h-[472px] w-full object-cover object-right;
}

.animationElement {
  @apply transition-transform;
}

.animationElement.animateTransition {
  @apply translate-y-[0px] scale-105 transform;
}

.animationElement {
  @apply duration-500;
}

.image-container::after {
  @apply w-full h-[200px];
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  pointer-events: none;
}
